.questions {
	display: flex;
	flex-direction: column;
	padding-right: 10%;
}

.question {
	display:block;
	font-weight: bold;
	font-size: 1.5em;
	padding: 15px;
	margin: 10px;
}

.radio-button {
	display: none;
  }
  
 
  .option-selected {
	background-color: #f0f0f0;
	color: #1b1f2a;
	border-radius: 50px;
  }
  
.option {
	display: block;
	color: #f0f0f0;
	background-color: #1b1f2a;
	border-radius: 50px;
	padding: 15px;
	margin: 10px;
}

form {
	width: 100%;
}