html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.App-header {
  background-color: #1b1f2a;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.App-footer {
  background-color: #1b1f2a;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: auto;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://s3-alpha-sig.figma.com/img/9199/73c5/a20ccc2b1fb41da99a7c5561cffd7885?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NMxG6E2ao9bVgMp~l9jYGU0xdAtokG2pTx1HjS~K9l4hA4oJeuqtGEzyJL0SRAOsW~K0o0t7WK5PSeoQeNW95akfBBud85NuHtZU4B6f1MEgYR6DMMGRl5kkKvq4smmsFL160ju3AWEE29LBtU~FqE4fx-LtOV6QbT~MzPTQxI~EvSQYGZ5pNaweHMGyji8HgRiY8aNVRqe3V3X6EBn44oBW5qetYCrASJvveupPf15U3KHf2Htxoq-cIsyBdfb5fXZHoD7IBexylmsbf8adl68xj9dkTes-wP0-eHZhniwfANfVtE8klJ5Lqk4yPCzZ~q6gqYluuhRQcFbb7nMZaA__');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

.titre {
  color: white;
  margin-left: 67px;
  width: 45%;
}